<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <param name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    </encoder>
  </appender>

  <logger name="io.vertx.core.impl.BlockedThreadChecker" level="ERROR"/>
  <logger name="org.hibernate" level="OFF"/>
  <logger name="io.dialob.program" level="INFO"/>
  <logger name="io.dialob.executor" level="OFF"/>
  <logger name="io.dialob.client.spi.executor" level="INFO"/>
  <logger name="io.dialob.client.spi.DialobProgramEnvirFactory" level="INFO"/>
  <logger name="io.dialob.client.tests" level="DEBUG"/>
  
  

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
