<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <logger name="io.dialob.db.jdbc" level="INFO"/>
  <logger name="org.flywaydb" level="INFO"/>
  <logger name="org.testcontainers" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
