@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

.list .item .content .header.composer-active {
  color: #1e7aca !important;
}

.composer-active {
  border-color: #1e7aca !important;
}

.list .item .content .header.composer-warning,
.vertical.menu .item.composer-warning {
  color: #fbbd08 !important;
}

.composer-warning {
  border-color: #fbbd08;
}

.list .item .content .header.composer-error,
.vertical.menu .item.composer-error {
  color: #db2828 !important;
}

.composer-error {
  border-color: #db2828;
}

.composer-drag-above {
  box-shadow: inset 0px 2px 0px 0px #1e7aca;
}

.composer-drag-below {
  box-shadow: inset 0px -2px 0px 0px #1e7aca;
}

.composer-drag-inside {
  box-shadow: inset 0px 0px 2px 2px #1e7aca;
}

.composer-error-link {
  cursor: pointer;
  text-decoration: underline;
}

.composer-group {
  background-color: #00000005 !important;
}

.composer-scrolltarget {
  margin-bottom: 1rem;
}

.composer-pagelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item.upward.dropdown.composer-item-menu>.menu {
  top: auto !important;
}

.CodeMirror {
  line-height: 1.2em;
  min-height: 1.2em;
  height: auto;
  font-family: Inconsolata, monospace;
  background: transparent;
}

.CodeMirror-hints {
  font-family: Inconsolata, monospace;
  z-index: 1000000;
}

.CodeMirror-lint-tooltip {
  font-family: Inconsolata, monospace;
  background-color: rgba(255, 255, 255, 0.87) !important;
  z-index: 1000000;
  border: 1px solid rgba(34,36,38,.15);
}

.CodeMirror pre.CodeMirror-placeholder {
  color: rgba(191,191,191,.87);
}

.del-hint-keyword {
  color: #708;
  font-weight: bold;
}

.del-hint-item {

}

.del-hint-variable-context {
  color: #0400f2;
  font-style: italic;
}

.del-hint-variable {
  color: #0400f2;
}

.ui.input.bordered {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  padding: .67857143em 1em;
}

.ui.input.bordered.focused {
  border-color: #85b7d9;
  -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
}


.composer-editor-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr auto;
  grid-template-rows: 1fr 150px; /* for statusbar */
 /* grid-template-rows: 1fr; */
  grid-gap: 0 5px;
}

.composer-editor-tree {
  grid-row: 1;
  grid-column: 1;
  overflow: auto;
}

.composer-editor-tree .ui.vertical.menu {
  width: initial;
  border: initial;
  box-shadow: initial;
}

.composer-editor-tree .ui.list>.item>.icon+.content,
.composer-editor-tree .ui.list .item>.icon+.content {
  padding: initial;
}

.composer-editor-content {
  grid-row: 1;
  grid-column: 2;
  overflow-y: auto;
  padding-top: 13px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.composer-editor-errors {
  grid-row: 1;
  grid-column: 3;
  overflow: auto;
  padding-top: 13px;
}

.composer-editor-errors .list {
  padding-right: 10px;
}

.composer-editor-rules {
  grid-row: 2;
  grid-column: 1 / span 3;
  padding: 10px;
  border-top: 1px solid rgba(34,36,38,.15);
  box-shadow: inset 0 1px 2px 0 rgba(34,36,38,.15);
}

.composer-editor-rules .ui.grid>[class*="four wide"].column {
  width: 200px !important;
}


.dialob-rule {
  font-family: Inconsolata, monospace;
}

.dialob-placeholder {
  color: rgba(191,191,191,.87);
}

.dialob-window-codeedit {
  min-height: 85px;
  max-height: 85px;
}

.dialob-rule-icon {
  opacity: 0.5 !important;
  float: right;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 280px;
  height: 36px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #d4d4d5;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 36px;
  width: 280px;
  border: 1px solid #d4d4d5;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.composer-md-editor {
  border: 0;
  width: 100%;
  font-family: monospace;
  resize: none;
}

.composer-md-editor:focus {
  outline: none;
}

.composer-md-editor-toolbar {
  padding: 3px !important;
}
.composer-md-editor-content {
  padding: 3px !important;
}

.composer-segment-nopadding {
  padding: 0px !important;
}
