<configuration debug="false">
  <logger name="io.dialob" level="INFO"/>
  <logger name="io.dialob.session.engine" level="INFO"/>
  <logger name="io.dialob.session.boot.redis" level="INFO"/>
  <root level="INFO">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <charset>default</charset>
        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
      </encoder>
    </appender>
  </root>
</configuration>
