<included>
  <logger name="io.resys" level="INFO"/>
  <logger name="org.springframework.web.socket" level="INFO"/>
  <logger name="org.springframework.io.dialob.boot.context" level="INFO"/>
  <logger name="org.springframework.security" level="INFO"/>
  <logger name="org.springframework.data" level="INFO"/>
  <logger name="org.springframework.security.web" level="INFO"/>
  <logger name="org.springframework.integration" level="INFO"/>
  <logger name="org.springframework.web" level="INFO"/>
  <logger name="org.apache.catalina" level="INFO"/>
  <logger name="org.apache.tomcat" level="INFO"/>
  <logger name="io.dialob.session.rest.DefaultAnswerController" level="INFO"/>
  <logger name="io.dialob.session.boot.redis" level="INFO"/>
  <logger name="io.dialob.cloud.aws" level="INFO"/>
  <logger name="io.dialob.questionnaire.service.submit" level="INFO"/>
  <logger name="io.dialob.db.jdbc" level="INFO"/>
</included>
