
html, body, #dialob-app-content {
  width: 100%;
  height: 100%;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 12px;
	font-family: 'Myriad Set Pro', 'Helvetica Neue', helvetica, sans-serif;
	color: rgb(57, 57, 57);
}

div.dialob-app-container {
	width: 100%;
	height: calc(100% - 7em);
}

.dialob-app-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em;
  border-bottom: 1px solid rgb(200, 200, 200);;
}

.dialob-app-title {
  font-size: 2.5em;
  margin-left: 0.25em;
  margin-right: 0.1em;
}

.dialob-app-subtitle {
  font-size: 2.5em;
  font-weight: 100;
}

.dialob-loading-indicator {
	width: 50%;
	padding-top: 5em;
	text-align: center;
	margin: 0 auto;
}

