<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: common_content(null,~{::applicationContent},null,~{::script})">
<body>
  <div th:fragment="applicationContent" id="root">
    <div class="ui">
      <div class="ui active transition visible dimmer">
        <div class="content"><div class="ui loader"></div></div>
        <div style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
</body>

<script th:each="javascriptFile: ${javascriptFiles}" type="text/javascript" th:src="${javascriptFile.value}"></script>
<script type="text/javascript" th:replace="assetManifestLoader :: assetLoading"></script>

</html>
