<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script th:inline="javascript" th:fragment="assetLoading">
/*<![CDATA[*/
/*
 * Load dynamically resources from paths in create-react-app generated asset-manifest.json file.
 * Requires CRA version >=3.2.0 (see https://github.com/facebook/create-react-app/pull/7721 ).
 */
var assetManifestPath = /*[[${frontendPath}]]*/ ""
if (assetManifestPath) {
  fetch(assetManifestPath + "asset-manifest.json")
    .then(result => result.json())
    .then(assetManifest=>{
      if (assetManifest.entrypoints) {
        assetManifest.entrypoints.forEach(entry=>{
          if (entry.endsWith('.js')) {
            let script = document.createElement('script');
            script.setAttribute('src', assetManifestPath+entry);
            document.body.appendChild(script);
          }
          else if (entry.endsWith('.css')) {
            let link = document.createElement('link');
            link.setAttribute('rel', 'stylesheet');
            link.setAttribute('type', 'text/css');
            link.setAttribute('href', assetManifestPath+entry);
            document.getElementsByTagName('head')[0].appendChild(link);
          }
        })
      }
    });
}
/*]]>*/
</script>
</body>
</html>
