<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dialob</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <link th:each="stylesheet: ${stylesheets}" rel="stylesheet" type="text/css" th:href="${stylesheet.value}"/>
</head>
<body>
<div>
  <div class="ui top fixed menu">
    <div class="ui container">
      <h4 class="header item">
        <img src="https://cdn.resys.io/dialob_logo.svg" style="height: 25px; margin-right: 1.5em" />
        Dialob
      </h4>
    </div>
  </div>
  <div class="ui container">
    <div style="margin-top: 4em;" id="app" />
  </div>
</div>
<script th:if="${formConnectionOptions}" th:inline="javascript">
      window.dialobOptions = /*[[${formConnectionOptions}]]*/ {url: ''};
    </script>
<th:block layout:fragment="scripts">
  <script th:if="${javascriptFiles != null}" th:each="javascriptFile: ${javascriptFiles}" type="text/javascript"
          th:src="${javascriptFile.value}"></script>
</th:block>
</body>
</html>

