<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Dialob</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
  <meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:each="stylesheet: ${stylesheets}" rel="stylesheet" type="text/css" th:href="${stylesheet}"/>
</head>
<body>
<div id="landing-app-content"></div>

<th:block th:fragment="scripts">
  <script th:if="${javascriptFiles != null}" th:each="javascriptFile: ${javascriptFiles}" type="text/javascript"
          th:src="${javascriptFile.value}"></script>
</th:block>


<script th:if="${landingConnectionOptions}" th:inline="javascript">
  var options = /*[[${landingConnectionOptions}]]*/ {url: ''};
   window.DialobLanding.renderDialob(document.getElementById('landing-app-content'),options);
</script>  

</body>
</html>
