.editor-container .editor-table-row .translation {
  height: 100%;
  width: 100%;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: inherit;
  border: 0;
  border-left: 1px solid rgba(34,36,38,.1);
  border-bottom: 1px solid rgba(34,36,38,.1);
  padding: .28571429em .78571429em;
}

.editor-container .editor-table-row .translation.disabled {
  background-color: inherit;
  color: rgba(40,40,40,.3);
}

.editor-container .editor-table-row > *:first-child .translation {
  border-left: 0;
}

.editor-container .editor-table-row > *:last-child .translation {
  border-right: 0;
}

.editor-container .editor-table-row > * {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}

.editor-container .editor-table-row:hover {
  background: rgba(0,0,0,.05) !important;
  color: rgba(0,0,0,.95) !important;
}

.editor-container .editor-table-header {
  table-layout: fixed;
  border-top-right-radius: 0 !important;
  border-bottom: 0 !important;
}

.editor-container .editor-table > div {
  outline: none;
}

.editor-container .editor-main {
  flex: 1 0;
  padding: 0 !important;
  padding-right: 2px !important;
}

.editor-container {
  height: 100%;
  display: flex;
}

.editor-container > div:first-child {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.editor-container .editor-info {
  margin: 0 !important;
  width: 30%;
  min-width: 20rem;
  max-width: 40rem;
  overflow: auto;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: none !important;
}

.editor-container .editor-footer {
  border-bottom-right-radius: 0 !important;
}

.editor-container .editor-info :last-child {
  margin-bottom: 1em;
}

.editor-container .lang-select {
  float: right;
}

.editor-container .empty-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-container .empty-message > div {
  width: 50%;
}

.editor-container .remove-icon {
  cursor: pointer;
}

.editor-container .editor-problems-btn {
  margin-left: 1.3em !important;
  text-align: left !important;
  min-width: 152px;
}
