<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <property resource="META-INF/build-info.properties"/>

  <include optional="true" file="/etc/dialob/logback.xml"/>

  <include optional="true" file="${LOGBACK_SETTINGS_FILE:-/java/config/logback-settings.xml}"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
