.list .item .content .header.composer-active {
  color: #1e7aca !important;
}

.composer-active {
  border-color: #1e7aca !important;
}

.composer-drag-above {
  box-shadow: inset 0px 2px 0px 0px #1e7aca;
}

.composer-drag-below {
  box-shadow: inset 0px -2px 0px 0px #1e7aca;
}

.composer-group {
  background-color: #00000005 !important;
}

.item.upward.dropdown.composer-item-menu>.menu {
  top: auto !important;
}
