@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

.list .item .content .header.composer-active {
  color: #1e7aca !important;
}

.composer-active {
  border-color: #1e7aca !important;
}

.composer-drag-above {
  box-shadow: inset 0px 2px 0px 0px #1e7aca;
}

.composer-drag-below {
  box-shadow: inset 0px -2px 0px 0px #1e7aca;
}

.composer-group {
  background-color: #00000005 !important;
}

.item.upward.dropdown.composer-item-menu>.menu {
  top: auto !important;
}

.CodeMirror {
  line-height: 1.2em;
  min-height: 1.2em;
  height: auto;
  font-family: Inconsolata, monospace;
  background: transparent;
}

.CodeMirror-hints {
  font-family: Inconsolata, monospace;
  z-index: 1000000;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: rgba(191,191,191,.87);
}

.del-hint-keyword {
  color: #708;
  font-weight: bold;
}

.del-hint-item {

}

.del-hint-variable-context {
  color: #0400f2;
  font-style: italic;
}

.del-hint-variable {
  color: #0400f2;
}
